/* your styles go here */
*
/*{
    color:white;
}*/
/*
* ==========================================================
*     LOGIN PAGE
* ==========================================================
*/
.login-page1 {
  position: relative;
}

.login-page1::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  background: url(../img/forgotpassword.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}

.login-page1 .container {
  min-height: 100vh;
  z-index: 1;
  padding: 20px;
}

.login-page1 .form-holder {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 50px;
}

.login-page1 .form-holder .info,
.login-page1 .form-holder .form {
  min-height: 70vh;
  padding: 40px;
  height: 100%;
}

.login-page1 .form-holder div[class*='col-'] {
  padding: 0;
}

.login-page1 .form-holder .info {
  background: rgba(55, 207, 220, 0.95);
  color: #fff;
}

.login-page1 .form-holder .info h1 {
  font-size: 2.5em;
  font-weight: 700;
}

.login-page1 .form-holder .info p {
  font-weight: 300;
}

.login-page1 .form-holder .form {
  background: #2d3035;
}

.login-page1 .form-holder .form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.login-page1 .form-holder .form .content {
  width: 100%;
}

.login-page1 .form-holder .form form {
  width: 100%;
  max-width: 400px;
}

.login-page1 .form-holder .form #login,
.login-page1 .form-holder .form #register {
  margin-bottom: 20px;
  cursor: pointer;
  color: #fff;
}

.login-page1 .form-holder .form a.forgot-pass,
.login-page1 .form-holder .form a.signup {
  font-size: 0.9rem;
  color: #37cfdc;
}

.login-page1 .form-holder .form small {
  color: #aaa;
}

.login-page1 .form-holder .form .terms-conditions label {
  cursor: pointer;
  color: #aaa;
  font-size: 0.9rem;
}

.login-page1 .copyrights {
  width: 100%;
  z-index: 9999;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

@media (max-width: 991px) {
  .login-page1 .form-holder .info,
  .login-page1 .form-holder .form {
    min-height: auto;
    padding: 40px;
    height: 100%;
  }
}
.col-lg-6
{
    width:400px;
}
.label-material
{
    margin-left:15px;
}
.form-control-label
{
    margin-top:5px;
    text-align:center;
}
.row
{
    margin-top:10px;
}
.col-button
{
    margin-left:105px;
}
.col-sm-1{
    margin-right:5px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media screen and (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none;
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.panel1 {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.panel1-body {
  padding: 15px;
}
.panel1-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel1-heading > .dropdown .dropdown-toggle {
  color: blue;
}
.panel1-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel1-title > a,
.panel1-title > small,
.panel1-title > .small,
.panel1-title > small > a,
.panel1-title > .small > a {
  color: inherit;
}
.panel1-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel1 > .list-group,
.panel1 > .panel1-collapse > .list-group {
  margin-bottom: 0;
}
.panel1 > .list-group .list-group-item,
.panel1 > .panel1-collapse > .list-group .list-group-item {
  border-width: 1px 0;
  border-radius: 0;
}
.panel1 > .list-group:first-child .list-group-item:first-child,
.panel1 > .panel1-collapse > .list-group:first-child .list-group-item:first-child {
  border-top: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel1 > .list-group:last-child .list-group-item:last-child,
.panel1 > .panel1-collapse > .list-group:last-child .list-group-item:last-child {
  border-bottom: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel1 > .panel1-heading + .panel1-collapse > .list-group .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel1-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.list-group + .panel1-footer {
  border-top-width: 0;
}
.panel1 > .table,
.panel1 > .table-responsive > .table,
.panel1 > .panel1-collapse > .table {
  margin-bottom: 0;
}
.panel1 > .table caption,
.panel1 > .table-responsive > .table caption,
.panel1 > .panel1-collapse > .table caption {
  padding-right: 15px;
  padding-left: 15px;
}
.panel1 > .table:first-child,
.panel1 > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel1 > .table:first-child > thead:first-child > tr:first-child,
.panel1 > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child,
.panel1 > .table:first-child > tbody:first-child > tr:first-child,
.panel1 > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.panel1 > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel1 > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.panel1 > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel1 > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.panel1 > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel1 > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.panel1 > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.panel1 > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.panel1 > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel1 > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.panel1 > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel1 > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.panel1 > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel1 > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.panel1 > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.panel1 > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.panel1 > .table:last-child,
.panel1 > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel1 > .table:last-child > tbody:last-child > tr:last-child,
.panel1 > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child,
.panel1 > .table:last-child > tfoot:last-child > tr:last-child,
.panel1 > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel1 > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel1 > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.panel1 > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel1 > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.panel1 > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel1 > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.panel1 > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.panel1 > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.panel1 > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel1 > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.panel1 > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel1 > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.panel1 > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel1 > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.panel1 > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.panel1 > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.panel1 > .panel1-body + .table,
.panel1 > .panel1-body + .table-responsive,
.panel1 > .table + .panel1-body,
.panel1 > .table-responsive + .panel1-body {
  border-top: 1px solid #ddd;
}
.panel1 > .table > tbody:first-child > tr:first-child th,
.panel1 > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.panel1 > .table-bordered,
.panel1 > .table-responsive > .table-bordered {
  border: 0;
}
.panel1 > .table-bordered > thead > tr > th:first-child,
.panel1 > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel1 > .table-bordered > tbody > tr > th:first-child,
.panel1 > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel1 > .table-bordered > tfoot > tr > th:first-child,
.panel1 > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel1 > .table-bordered > thead > tr > td:first-child,
.panel1 > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel1 > .table-bordered > tbody > tr > td:first-child,
.panel1 > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel1 > .table-bordered > tfoot > tr > td:first-child,
.panel1 > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel1 > .table-bordered > thead > tr > th:last-child,
.panel1 > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel1 > .table-bordered > tbody > tr > th:last-child,
.panel1 > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel1 > .table-bordered > tfoot > tr > th:last-child,
.panel1 > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel1 > .table-bordered > thead > tr > td:last-child,
.panel1 > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel1 > .table-bordered > tbody > tr > td:last-child,
.panel1 > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel1 > .table-bordered > tfoot > tr > td:last-child,
.panel1 > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel1 > .table-bordered > thead > tr:first-child > td,
.panel1 > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel1 > .table-bordered > tbody > tr:first-child > td,
.panel1 > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel1 > .table-bordered > thead > tr:first-child > th,
.panel1 > .table-responsive > .table-bordered > thead > tr:first-child > th,
.panel1 > .table-bordered > tbody > tr:first-child > th,
.panel1 > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.panel1 > .table-bordered > tbody > tr:last-child > td,
.panel1 > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel1 > .table-bordered > tfoot > tr:last-child > td,
.panel1 > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.panel1 > .table-bordered > tbody > tr:last-child > th,
.panel1 > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel1 > .table-bordered > tfoot > tr:last-child > th,
.panel1 > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.panel1 > .table-responsive {
  margin-bottom: 0;
  border: 0;
}
.panel1-group {
  margin-bottom: 20px;
}
.panel1-group .panel1 {
  margin-bottom: 0;
  border-radius: 4px;
}
.panel1-group .panel1 + .panel1 {
  margin-top: 5px;
}
.panel1-group .panel1-heading {
  border-bottom: 0;
}
.panel1-group .panel1-heading + .panel1-collapse > .panel1-body,
.panel1-group .panel1-heading + .panel1-collapse > .list-group {
  border-top: 1px solid #ddd;
}
.panel1-group .panel1-footer {
  border-top: 0;
}
.panel1-group .panel1-footer + .panel1-collapse .panel1-body {
  border-bottom: 1px solid #ddd;
}
.panel1-default {
  border-color: #ddd;
}
.panel1-default > .panel1-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel1-default > .panel1-heading + .panel1-collapse > .panel1-body {
  border-top-color: #ddd;
}
.panel1-default > .panel1-heading .badge {
  color: #f5f5f5;
  background-color: #333;
}
.panel1-default > .panel1-footer + .panel1-collapse > .panel1-body {
  border-bottom-color: #ddd;
}
.panel1-primary {
  border-color: #337ab7;
}
.panel1-primary > .panel1-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}
.panel1-primary > .panel1-heading + .panel1-collapse > .panel1-body {
  border-top-color: #337ab7;
}
.panel1-primary > .panel1-heading .badge {
  color: #337ab7;
  background-color: #fff;
}
.panel1-primary > .panel1-footer + .panel1-collapse > .panel1-body {
  border-bottom-color: #337ab7;
}
.panel1-success {
  border-color: #d6e9c6;
}
.panel1-success > .panel1-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel1-success > .panel1-heading + .panel1-collapse > .panel1-body {
  border-top-color: #d6e9c6;
}
.panel1-success > .panel1-heading .badge {
  color: #dff0d8;
  background-color: #3c763d;
}
.panel1-success > .panel1-footer + .panel1-collapse > .panel1-body {
  border-bottom-color: #d6e9c6;
}
.panel1-info {
  border-color: #bce8f1;
}
.panel1-info > .panel1-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel1-info > .panel1-heading + .panel1-collapse > .panel1-body {
  border-top-color: #bce8f1;
}
.panel1-info > .panel1-heading .badge {
  color: #d9edf7;
  background-color: #31708f;
}
.panel1-info > .panel1-footer + .panel1-collapse > .panel1-body {
  border-bottom-color: #bce8f1;
}
.panel1-warning {
  border-color: #faebcc;
}
.panel1-warning > .panel1-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel1-warning > .panel1-heading + .panel1-collapse > .panel1-body {
  border-top-color: #faebcc;
}
.panel1-warning > .panel1-heading .badge {
  color: #fcf8e3;
  background-color: #8a6d3b;
}
.panel1-warning > .panel1-footer + .panel1-collapse > .panel1-body {
  border-bottom-color: #faebcc;
}
.panel1-danger {
  border-color: #ebccd1;
}
.panel1-danger > .panel1-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel1-danger > .panel1-heading + .panel1-collapse > .panel1-body {
  border-top-color: #ebccd1;
}
.panel1-danger > .panel1-heading .badge {
  color: #f2dede;
  background-color: #a94442;
}
.panel1-danger > .panel1-footer + .panel1-collapse > .panel1-body {
  border-bottom-color: #ebccd1;
}